body{
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
}
.bodyConnexion{
    background-color: white;
}
/*-----------------------------Header------------------------------*/
.menu{
    background-color: #2f4f4f;
    margin: 5px;

}
nav{
    padding: 0;
    margin: 0;
    display: inline-block;

    display: flex;
}
.navMenu{
    
}

.navMenu >ul >li{
    list-style-type: none;
    display: inline-block;
    padding: 8px;
}
ul >li a{
    color: #fff;
    letter-spacing: 0.1rem;
    text-decoration: none;
}
img{
    position: relative;
}
.nav1{
    height: 50%;
}

.formeInput{
    text-align: right;
    margin: 30px 0px 0px 10px;
}
.formeInput form input{
    padding: 6px 5px 5px 5px;
    outline-color: midnightblue;
    border: 2px solid #2f4f4f;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    
}
.divLi{
    display: none;
}
img{
    padding: 5px;
}
ul li a:hover{
    text-decoration: underline;
    color: #ff2;
    
}
.liDiv .divLi{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}
.liDiv:hover .divLi{
    display: flex;
    list-style-type: none;
}
.divLi li{
    list-style: none;
    padding: 6px 0px;
    margin: 2px 0px;
}
.divLi li a{
    text-decoration: none;
    
}
.divLi li a:active{background-color: #2f4f4f;}
.divLi li a:hover{background-color: #2f4f4f;}
.divLi{
    background-color: #2f4f4f;
}
main{
    padding: 20px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

}
/* ------------------------------------------- formulaire    ------------------------------- */

.sectionFormlaire{
    padding: 20px 10px 10px;
    display: flex;
    justify-content: center;
   
    align-items: center;
}
.sectionConnexion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: #fff;


}
.sectionTableau{
    padding: 30px;

}
.form-div{
    
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    
}
.form-div1{
    padding: 20px 20px 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    width: 30%;
   

}
.sectionButton{

    text-align: center;
   padding: 20px;
    
}
#bouton1{
    font-size: 16px;
    background-color: darkblue;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: tranform 0.5s;
}
button:hover{
    transform: scale(1.05);
}
form .corps-form .divforme{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
form .pied-form{
    margin: 5px;
    padding: 5px;
}
form .pied-form .p1{
    padding: 5px;
}
form .pied-form .divforme {
 padding: 5px;
}
.btnEnregistrer{
    font-size: 16px;
    background-color: green;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: tranform 0.5s;
}
.btnFermer{
    font-size: 16px;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: tranform 0.5s;
}
form .corps-form .divformeConnexion{
    position: relative;
    padding: 10px 8px 5px;
    display: flex;
    width: 100%;
}
.bntConnexion{
    font-size: 16px;
    background-color: green;
    color: #fff;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: tranform 0.5s;
    cursor: pointer;
    outline: none;
}

label{
    font-size: 16px;
    margin-bottom: 10px;
}
form .corps-form .divforme input{
    margin-bottom: 5px;
    padding: 10px 10px 10px 30px;
    outline-color: midnightblue;
    border: 2px solid #2f4f4f;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    
}
form .corps-form .divformeConnexion input{
    margin-bottom: 5px;
    padding: 10px 10px 10px 30px;
    outline-color: midnightblue;
    border: 2px solid #2f4f4f;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    
}
form .corps-form .divformeConnexion #inputPassword{
    margin-left: 20px;
}
form .corps-form .divformeConnexion label{
    font-size: 20px;
    padding: 10px 10px 0;
}
form .corps-form .divforme i{
    position: absolute;
    left: 10px;
    top: 40px;
    padding: 10px;

}
form .corps-form .divformeConnexion i{
    position: absolute;
    left: 145px;
    padding: 10px;

}
/* ----------------------------------------tableau----------------------------------------*/
#tab-exemple{
    border-collapse: collapse;
    min-width: 1000px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 30px auto;
    border: 2px solid midnightblue;
    width: 90%;
}
thead,tfoot tr{
    background-color: midnightblue;
    color: #fff;
    width: 20px;
}
th{
    width: 20px ;
}

/* ------------------------------------------- foooter    ------------------------------- */

footer{
    flex-shrink: 0;
    width: 100%;
    border-top: 1px dashed #000;
    background: #000;
    color: #fff;

}
.contenu-footer{
    width: 1200;
    padding: 30px 0 px 20px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 20;
    justify-content: center;


}
.bloc{
    width: 25%;
    margin: 0 20px;
}
.contact h3,
.service h3,
.media h3{
    font-size: 25px;
    padding-bottom: 20px;
}
.contact p{
    padding: 3px 0;
}
.media, 
.service a{
    padding: 5px 0px;
}
.liste-media,
.liste-service{
    list-style-type: none;

}
.liste-service a{
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
    padding: 5px;
}
.liste-service a:hover{
    color: rgb(3, 3, 3);
}
.liste-media a{
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
    padding: 5px;
}
.liste-service a:hover{
    color: rgb(185, 88, 88);
}
.liste-media a:hover{
    color: rgb(185, 88, 88);
}
.divLogo{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #fff;
}

@media screen and (max-with: 1300px) {
    .contenu-footer{
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2){
        margin-bottom: 50px;
    }
    
}







